body {
  background-color: #CCE8CC;
  font-family: 楷体, Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #1d1007;
  line-height: 24px;
  background: url('/img/background-color.png');
  background-repeat: repeat;
  background-size: 100% auto;
}
.divForm{margin: 30px;}
/*
.divForm{
position: absolute;
width: 300px;
height: 200px;
text-align: center;
top: 50%;
left: 50%;
margin-top: -200px;
margin-left: -150px;
}
*/

.no-padding{padding: 0px;}
.divMiddle{margin: 10px;}